* {
  text-align: center;
  width: auto;
  background-color: rgb(243, 240, 235);
}

#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
}

#color-palette {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}

.color {
  width: 90px;
  height: 90px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: 40px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: rgb(243, 11, 92);
}

#color3 {
  background-color: rgb(244, 225, 13);
}

#color4 {
  background-color: rgb(12, 241, 12);
}

#pixel-board {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 2px solid black;
}

/* .boxe {
  display: table-row;
} */

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
